---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrelease.yaml
  - policies/require-labels.yaml
  - policies/disallow-privileged.yaml
  - policies/require-resource-limits.yaml
  - policies/restrict-image-registries.yaml
