---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: csi-smb-driver
  namespace: flux-system
spec:
  interval: 10m
  path: ./clusters/production/csi-smb-driver
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  timeout: 5m
  wait: true
  dependsOn:
    - name: sources
