apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - gotk-components.yaml
  - gotk-sync.yaml
patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: kustomize-controller
        namespace: flux-system
      spec:
        template:
          spec:
            containers:
            - name: manager
              env:
              - name: SOPS_AGE_KEY_FILE
                value: /var/secrets/age.agekey
              volumeMounts:
              - name: sops-age
                mountPath: /var/secrets
            volumes:
            - name: sops-age
              secret:
                secretName: sops-age
    target:
      kind: Deployment
      name: kustomize-controller
