---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: linkwarden
  namespace: flux-system
spec:
  interval: 10m
  path: ./clusters/production/linkwarden
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  timeout: 5m
  wait: true
  dependsOn:
    - name: cert-manager
  decryption:
    provider: sops
    secretRef:
      name: sops-age
