---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: network-policies
  namespace: flux-system
spec:
  interval: 10m
  path: ./clusters/production/network-policies
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  timeout: 2m
